<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>
    <style>
        body {
            background-color: #282c34;
            color: white;
            text-align: center;
        }
        .form-register {
            max-width: 330px;
            margin: auto;
        }
        .form-control {
            margin-bottom: 15px;
        }
    </style>
</head>
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }} <!-- CSRF protection -->
            <h1 class="h3 mb-3 font-weight-normal">Student Registration</h1>
            <br>

            <!-- Roll Number Input -->
            {{ form.rollno.label() }}
            {{ form.rollno(class="form-control", placeholder="Roll Number") }}
            <br>

            <!-- Name Input -->
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name") }}
            <br>

            <!-- Phone Input -->
            {{ form.phone.label() }}
            {{ form.phone(class="form-control", placeholder="Phone Number") }}
            <br>

             <!-- Batch input-->
             {{ form.batch.label() }}
             {{ form.batch(class="form-control", placeholder="Batch") }}
             <br>
            
             <!-- YOP Input -->
             {{ form.YOP.label() }}
             {{ form.YOP(class="form-control", placeholder="YOP") }}
             <br>

            <!-- Email Input -->
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}
            <br>

            <!-- Password Input -->
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>

            <!-- Submit Button -->
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
</html>
